<%= provide :title, 'Tickets' %>
<h2 class='center'>Tickets</h2>
<table class='table'>
  <thead>
    <th>Ticket ID</th>
    <th>Requester</th>
    <th>Subject</th>
    <th>Created At</th>
  </thead>  
  <tbody>
    <% @tickets.each do |ticket| %> 
      <tr>
        <td><%= ticket.id %></td>
        <td><%= ticket.requester.name %></td>
        <td><%= ticket.subject %></td>
        <td><%= utc_to_pst(ticket.created_at) %></td>
        <td><%= link_to 'Show ticket details', ticket_path(ticket.id) %></td>
      </tr>
    <% end %>
  </tbody>
</table>