<%= provide :title, 'Tickets' %>
<table class='table'>
  <% @tickets.each do |ticket| %> 
    <tr>
      <td><%= ticket.requester.name %></td>
      <td><%= ticket.subject %></td>
      <td><%= ticket.created_at %></td>
      <td><%= ticket.updated_at %></td>
    </tr>
  <% end %>
</table>