<%= provide :title, 'Tickets' %>
<h2 class='center'>My Tickets</h2>
<table class='table'>
  <thead>
    <th>Ticket ID</th>
    <th>Requester</th>
    <th>Subject</th>
    <th>Created At</th>
  </thead>  
  <tbody>
    <% @tickets.each do |ticket| %> 
      <% if ticket.requester.email == @current_user.email %>
        <tr>
          <td><%= ticket.id %></td>
          <td><%= ticket.requester.name %></td>
          <td><%= ticket.subject %></td>
          <td><%= utc_to_pst(ticket.created_at) %></td>
          <td><%= link_to 'Show ticket details', ticket_path(ticket.id) %></td>
        </tr>
      <% end %>
    <% end %>
  </tbody>
</table>