<%= provide :title, '' %>
<h1 class='center'>Help Center</h1>
<p>This is the root URL for the Zendesk test app.</p>
<p>A very, very basic help center to send issues to the Zendesk client.</p>

<div class='row'>
  <div class='span6 offset3 form-group'>
    <%= form_tag(tickets_path) do %>
      <%= label_tag :name, 'Name' %>
      <%= text_field_tag :name %>

      <%= label_tag :email, 'Email' %>
      <%= email_field_tag :email %>

      <%= label_tag :subject, 'Subject' %>
      <%= text_field_tag :subject %>

      <%= label_tag :issue, 'Issue' %>
      <%= text_area_tag :issue, 'Describe the issue' %>

      <%= submit_tag 'Create Ticket', class: 'btn btn-default btn-block', id: 'submit-block' %>
    <% end %>
  </div>
</div>