<%= provide :title, 'Details' %>
<h2 class='center'>Ticket #<%= @id %></h2>
<div class='row'>
  <div class='span4'>
    <h3>Ticket details</h3>
    <ul>
      <li>Ticket ID: <%= @id %></li>
      <li>Status: <%= @ticket.status.capitalize %></li>
      <li>Subject: <%= @ticket.subject %></li>
      <li>Requester: <%= @ticket.requester.name %></li>
    </ul>
  </div>
  <div class='span8'>
    <h3 class='center'>Comments</h3>
    <ol class='comments'>
      <% @comments.each do |comment| %>
        <%= render 'comment', comment: comment %>
      <% end %>
    </ol>
    <%= render 'comment_form' %> 
  </div>
</div>